.single-pricing-pack{
    transition: all 0.2s ease 0s;
    box-shadow: 0 0 0 1px #ebebeb;
    border: none;
    border-top: 4px solid transparent;
}

.card.single-pricing-pack:hover {
    z-index: 2;
    border-radius: 1rem !important;
}
.single-pricing-pack:hover {
    box-shadow: 0 1rem 3rem rgba(31,45,61,.125)!important;
    transform: translate(0, -5px);
    border-top: 4px solid #9629e6;
}