// feild

.form-group {
    position: relative;
}
// feild label
.form-group label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 88%;
}
.input-icon {
    height: calc(3.4rem + 2px);
    position: absolute;
    z-index: 2;
    display: block;
    width: 40px;
    top: 0;
    bottom: 0;
    left: 0;
}
.input-icon i {
    padding: 18px 15px;
    border-left: 2px solid #6730e3;
    position: absolute;
    font-size: 18px;
    height: calc(3.4rem + 2px);
    border-radius: 4px;
    line-height: 1;
    vertical-align: middle;
}
.color-primary {
    color: #6730e3;
}

.form-group .input-group.input-group-merge>.form-control {
    text-indent: 35px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    height: calc(2.65em + .75rem + 2px);
}