.ui.secondary.menu {
    padding: 0;
    background-color: rgb(102, 16, 242);
}

div.item.img-log div img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

div.item.menu-item > a {
    color: #ddd;
    list-style-type: none;
}

div.item.menu-item >  a:hover {
    color: #ffff;
    list-style-type: none;
}

div.ui.pointing.dropdown.link.item  {
    color: #fff;
    list-style-type: none;
}

div.ui.pointing.dropdown.link.item > div.text:hover{
    color: #ffff;
}

div.ui.label {
    background-color: #ff0000;
    color: #ffff;
}